<!-- This file was NOT auto generated -->

<%= form_with model: @article, local: true do |form| %>
<!-- Checking that adding an article is done so correctly (can't have blank title or text field) -->
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- Form submission has a title, text, and submit button --> 
  <p>
    <%= form.label :title %>&nbsp;<br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %>&nbsp;<br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>